@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-200;
  @apply bg-gray-900;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-y-enter-from {
  transform: translateY(2000px);
}

.fade-y-leave-to {
  transform: translateY(2000px);
}

.fade-y-enter-active,
.fade-y-leave-active {
  transition: opacity 0.3s, transform 0.5s;
}

@layer components {
  input[type=range] {
    @apply appearance-none;
  }

  input[type=range]::-webkit-slider-thumb {
    @apply  bg-blue-600 rounded-full appearance-none w-5 h-5;
  }
}
